In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

In [2]:
df=px.data.gapminder()
df

,country,continent,year,lifeExp,pop,gdpPercap,iso_alpha,iso_num
0,Afghanistan,Asia,1952,28.801,8425333,779.445314,AFG,4
1,Afghanistan,Asia,1957,30.332,9240934,820.853030,AFG,4
2,Afghanistan,Asia,1962,31.997,10267083,853.100710,AFG,4
3,Afghanistan,Asia,1967,34.020,11537966,836.197138,AFG,4
4,Afghanistan,Asia,1972,36.088,13079460,739.981106,AFG,4
...,...,...,...,...,...,...,...,...
1699,Zimbabwe,Africa,1987,62.351,9216418,706.157306,ZWE,716
1700,Zimbabwe,Africa,1992,60.377,10704340,693.420786,ZWE,716
1701,Zimbabwe,Africa,1997,46.809,11404948,792.449960,ZWE,716
1702,Zimbabwe,Africa,2002,39.989,11926563,672.038623,ZWE,716
1703,Zimbabwe,Africa,2007,43.487,12311143,469.709298,ZWE,716

#### Inferential statistics: Branch of statistics that deals with the decisions and conclusions from the population of sample data.
* Here, in inferential statistics population refers to entire group and statistic referes to sample.

#### Simple random sampling:This is a simple random sample of 100 country-year observations. Each observation had equal probability of selection

In [4]:
sample=df.sample(n=100,random_state=1)
sample

,country,continent,year,lifeExp,pop,gdpPercap,iso_alpha,iso_num
708,Indonesia,Asia,1952,37.468,82052000,749.681655,IDN,360
1353,Sierra Leone,Africa,1997,39.897,4578212,574.648158,SLE,694
491,Equatorial Guinea,Africa,2007,51.579,551201,12154.089750,GNQ,226
703,India,Asia,1987,58.553,788000000,976.512676,IND,356
1286,Rwanda,Africa,1962,43.000,3051242,597.473073,RWA,646
...,...,...,...,...,...,...,...,...
570,Germany,Europe,1982,73.800,78335266,22031.532740,DEU,276
904,Libya,Africa,1972,52.773,2183877,21011.497210,LBY,434
434,Dominican Republic,Americas,1962,53.459,3453434,1662.137359,DOM,214
1251,Puerto Rico,Americas,1967,71.100,2648961,6929.277714,PRI,630
435,Dominican Republic,Americas,1967,56.751,4049146,1653.723003,DOM,214

### Systematic Sampling:Pick a random starting point, then select every 20th student.Select every k-th observation after a random start. This ensures uniform coverage of the dataset but may introduce bias if data has patterns.

In [5]:
k=20
system_sample=df.iloc[::k]
system_sample

,country,continent,year,lifeExp,pop,gdpPercap,iso_alpha,iso_num
0,Afghanistan,Asia,1952,28.801,8425333,779.445314,AFG,4
20,Albania,Europe,1992,71.581,3326498,2497.437901,ALB,8
40,Angola,Africa,1972,37.928,5894858,5473.288005,AGO,24
60,Australia,Oceania,1952,69.120,8691212,10039.595640,AUS,36
80,Austria,Europe,1992,76.040,7914969,27042.018680,AUT,40
...,...,...,...,...,...,...,...,...
1620,Uruguay,Americas,1952,66.071,2252965,5716.766744,URY,858
1640,Venezuela,Americas,1992,71.150,20265563,10733.926310,VEN,862
1660,West Bank and Gaza,Asia,1972,56.532,1089572,3133.409277,PSE,275
1680,Zambia,Africa,1952,42.038,2672000,1147.388831,ZMB,894
1700,Zimbabwe,Africa,1992,60.377,10704340,693.420786,ZWE,716

#### Stratified Sampling: Each continent is proportionally represented, reducing sampling bias.Example: Population of 1000 students → strata by gender; Male: 600, Female: 400; Sample size: 100 → pick proportionally (60 males, 40 females)

In [31]:
# keep only one year:
df_2007 = df[df['year'] == 2007]

In [34]:
# take five countries from each continent
stratified_sample = df_2007.groupby('continent').apply(lambda x: x.sample(min(len(x), 5), random_state=1))
stratified_sample

C:\Users\HP\AppData\Local\Temp\ipykernel_4192\2042834381.py:2: FutureWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  stratified_sample = df_2007.groupby('continent').apply(lambda x: x.sample(min(len(x), 5), random_state=1))

                            country continent  year  lifeExp       pop  \
continent
Africa    983             Mauritius    Africa  2007   72.801   1250882
          131                 Benin    Africa  2007   56.728   8078314
          1403              Somalia    Africa  2007   48.159   9118773
          1031              Morocco    Africa  2007   71.164  33757175
          971            Mauritania    Africa  2007   64.164   3270065
Americas  791               Jamaica  Americas  2007   72.567   2780132
          659              Honduras  Americas  2007   70.198   7483763
          1187               Panama  Americas  2007   75.537   3242173
          251                Canada  Americas  2007   80.653  33390141
          1559  Trinidad and Tobago  Americas  2007   69.819   1056608
Asia      851           Korea, Rep.      Asia  2007   78.623  49044790
          1055              Myanmar      Asia  2007   62.069  47761980
          227              Cambodia      Asia  2007   59.723  14131858
          1499                Syria      Asia  2007   74.143  19314747
          1667   West Bank and Gaza      Asia  2007   73.422   4018332
Europe    1091          Netherlands    Europe  2007   79.762  16570613
          1283              Romania    Europe  2007   72.476  22276056
          575               Germany    Europe  2007   79.406  82400996
          1235               Poland    Europe  2007   75.563  38518241
          755               Ireland    Europe  2007   78.885   4109086
Oceania   71              Australia   Oceania  2007   81.235  20434176
          1103          New Zealand   Oceania  2007   80.204   4115771

                   gdpPercap iso_alpha  iso_num
continent
Africa    983   10956.991120       MUS      480
          131    1441.284873       BEN      204
          1403    926.141068       SOM      706
          1031   3820.175230       MAR      504
          971    1803.151496       MRT      478
Americas  791    7320.880262       JAM      388
          659    3548.330846       HND      340
          1187   9809.185636       PAN      591
          251   36319.235010       CAN      124
          1559  18008.509240       TTO      780
Asia      851   23348.139730       KOR      410
          1055    944.000000       MMR      104
          227    1713.778686       KHM      116
          1499   4184.548089       SYR      760
          1667   3025.349798       PSE      275
Europe    1091  36797.933320       NLD      528
          1283  10808.475610       ROU      642
          575   32170.374420       DEU      276
          1235  15389.924680       POL      616
          755   40675.996350       IRL      372
Oceania   71    34435.367440       AUS       36
          1103  25185.009110       NZL      554

In [35]:
stratified_sample[['continent', 'country', 'lifeExp']]

               continent              country  lifeExp
continent
Africa    983     Africa            Mauritius   72.801
          131     Africa                Benin   56.728
          1403    Africa              Somalia   48.159
          1031    Africa              Morocco   71.164
          971     Africa           Mauritania   64.164
Americas  791   Americas              Jamaica   72.567
          659   Americas             Honduras   70.198
          1187  Americas               Panama   75.537
          251   Americas               Canada   80.653
          1559  Americas  Trinidad and Tobago   69.819
Asia      851       Asia          Korea, Rep.   78.623
          1055      Asia              Myanmar   62.069
          227       Asia             Cambodia   59.723
          1499      Asia                Syria   74.143
          1667      Asia   West Bank and Gaza   73.422
Europe    1091    Europe          Netherlands   79.762
          1283    Europe              Romania   72.476
          575     Europe              Germany   79.406
          1235    Europe               Poland   75.563
          755     Europe              Ireland   78.885
Oceania   71     Oceania            Australia   81.235
          1103   Oceania          New Zealand   80.204

In [37]:
# stratified_sample = (
#     df_2007[['continent', 'country', 'lifeExp']]
#     .groupby('continent')
#     .apply(lambda x: x.sample(min(len(x), 5), random_state=1))
# )
# stratified_sample

#### Cluster Sampling: Entire continents are selected, reducing cost but increasing sampling error.Population: 10,000 students in 50 schools; Randomly select 10 schools → survey all students in those 10 schools

In [7]:
select_continents=['Asia','Africa']
cluster_sample=df[df['continent'].isin(select_continents)]
cluster_sample

,country,continent,year,lifeExp,pop,gdpPercap,iso_alpha,iso_num
0,Afghanistan,Asia,1952,28.801,8425333,779.445314,AFG,4
1,Afghanistan,Asia,1957,30.332,9240934,820.853030,AFG,4
2,Afghanistan,Asia,1962,31.997,10267083,853.100710,AFG,4
3,Afghanistan,Asia,1967,34.020,11537966,836.197138,AFG,4
4,Afghanistan,Asia,1972,36.088,13079460,739.981106,AFG,4
...,...,...,...,...,...,...,...,...
1699,Zimbabwe,Africa,1987,62.351,9216418,706.157306,ZWE,716
1700,Zimbabwe,Africa,1992,60.377,10704340,693.420786,ZWE,716
1701,Zimbabwe,Africa,1997,46.809,11404948,792.449960,ZWE,716
1702,Zimbabwe,Africa,2002,39.989,11926563,672.038623,ZWE,716
1703,Zimbabwe,Africa,2007,43.487,12311143,469.709298,ZWE,716

#### Multistage Sampling: Stage 1: Randomly select districts (cluster); Stage 2: Randomly select schools within districts (SRS or stratified);

* Here Step 1: Select continents
* Step 2: Select countries within continents
* Step 3: Select years
* Sampling is performed in stages, mimicking real-world surveys.

In [8]:
# choose continents:
continents = df['continent'].sample(2, random_state=1)
continents

708       Asia
1353    Africa
Name: continent, dtype: object

In [9]:
# choose countries:
sample_countries=(df[df['continent'].isin(continents)].groupby('continent').sample(3,random_state=1))

In [10]:
sample_countries

,country,continent,year,lifeExp,pop,gdpPercap,iso_alpha,iso_num
962,Mauritania,Africa,1962,44.248,1146757,1055.896036,MRT,478
426,Djibouti,Africa,1982,48.812,305991,2879.468067,DJI,262
253,Central African Republic,Africa,1957,37.464,1392284,1190.844328,CAF,140
667,"Hong Kong, China",Asia,1987,76.200,5584510,20038.472690,HKG,344
702,India,Asia,1982,56.596,708000000,855.723538,IND,356
1502,Taiwan,Asia,1962,65.200,11918938,1822.879028,TWN,158

In [18]:
# stage 3 choose year:
final_sample=sample_countries[sample_countries['year']==1982]

In [19]:
final_sample

,country,continent,year,lifeExp,pop,gdpPercap,iso_alpha,iso_num
426,Djibouti,Africa,1982,48.812,305991,2879.468067,DJI,262
702,India,Asia,1982,56.596,708000000,855.723538,IND,356

#### Sampling Distribution : Regardless of population distribution, the sampling distribution of the mean approaches normality.This demonstrates Central Limit Theorem

In [23]:
df_2007 = df[df['year'] == 2007]
sample_mean=[df_2007['lifeExp'].sample(30).mean() for i in range(1,1000)]

In [30]:
df_2007['lifeExp'].mean()

67.00742253521126

In [26]:
np.mean(sample_mean),np.std(sample_mean)

(67.04915405405406, 1.9382100283582384)

By repeatedly sampling 30 countries, I obtained a sampling distribution of the mean. Its mean matches the population mean, and its standard deviation (standard error) is much smaller, showing that sample means are more stable and reliable.